.wrapper {
  max-width: 450px;
  margin: 60px auto 10px auto;
  padding: 40px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

@media (max-width: 600px) {
  .wrapper {
    max-width: 100%;
    margin: 0;
    box-shadow: none;
    width: 100%;
  }
}

.logo {
  display: block;
  margin: -25px auto 15px auto;
  width: auto;
  height: 160px;
  font-size: 125px;
  opacity: 0.8;
}

.compactRow {
  height: 50px;
}

.buttonRow {
  height: 40px;
}

.row {
  min-height: 70px;
  transition: all 800ms ease-in-out;

  :global(.ant-form-explain) {
    margin-top: 0;
    white-space: pre;
  }

  input {
    font-size: 15px;
  }
}

.inlineField {
  margin-bottom: 0;

  :global(.ant-form-item) {
    display: inline-block;
  }
}

.sendEmailVerifyCode {
  font-size: 14px;
}

.forgetLink {
  float: right;
}
