.codeBox {
  margin-top: 0px;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.codeBoxSegment {
  overflow: hidden;
  padding: 0 !important;
}

.codeBoxContent {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em 1em;
  height: 100%;
  overflow: auto;
  overflow: overlay;
  overflow-y: hidden;

  &.wrap {
    white-space: pre-wrap;
  }
}

.omittedLabel {
  position: absolute;
  background-color: #ffffffdd;
  color: #00000088;
  right: 0;
  bottom: 0;
  padding: 14px 14px;
}
