.icon {
  margin-right: 6px !important;

  &.noMarginRight {
    margin-right: 0 !important;
  }
}

.Pending {
  color: var(--theme-status-pending);
}

.ConfigurationError {
  color: var(--theme-status-configuration-error);
}

.SystemError {
  color: var(--theme-status-system-error);
}

.CompilationError {
  color: var(--theme-status-compilation-error);
}

.Canceled {
  color: var(--theme-status-canceled);
}

.FileError {
  color: var(--theme-status-file-error);
}

.RuntimeError {
  color: var(--theme-status-runtime-error);
}

.TimeLimitExceeded {
  color: var(--theme-status-time-limit-exceeded);
}

.MemoryLimitExceeded {
  color: var(--theme-status-memory-limit-exceeded);
}

.OutputLimitExceeded {
  color: var(--theme-status-output-limit-exceeded);
}

.PartiallyCorrect {
  color: var(--theme-status-partially-correct);
}

.WrongAnswer {
  color: var(--theme-status-wrong-answer);
}

.Accepted {
  color: var(--theme-status-accepted);
}

.JudgementFailed {
  color: var(--theme-status-judgement-failed);
}

.Waiting {
  color: var(--theme-status-waiting);
}

.Preparing {
  color: var(--theme-status-preparing);
}

.Compiling {
  color: var(--theme-status-compiling);
}

.Running {
  color: var(--theme-status-running);
}

.Skipped {
  color: var(--theme-status-skipped);
}
