html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    Helvetica,
    'Segoe UI',
    Roboto,
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans'
    'PingFang SC',
    'Hiragino Sans GB',
    'Source Han Sans SC',
    'Microsoft YaHei',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

.ant-input, .ant-btn, .ant-checkbox-input {
  border-radius: 0 !important;
}
