.menu {
  height: 48px;
}

.logoItem {
  .wide & {
    zoom: 0.9;
  }

  .narrow & {
    zoom: 0.85;
  }
}

.logo {
  margin-left: -8px;

  svg {
    width: 40px;
    height: 40px;
  }
}

.siteName {
  text-align: center;

  .logo ~ & {
    margin-left: 4px;
    text-align: left;
  }

  font-size: 23px;
  font-family: Saira;
  font-weight: 500;
}

.userContainer {
  margin-left: auto;
  display: flex;
}

.loginAndRegisterButton {
  width: 70px;

  &:first-of-type {
    margin-right: 0.4em !important;
  }

  .sidebarMenu & {
    width: 50%;
    margin-right: 0 !important;
  }

  padding-left: 0 !important;
  padding-right: 0 !important;
}

:global(#noty_layout__topRight) {
  top: calc(20px + 48px) !important;
}

:global(.noty_body) {
  padding: 1em 1.05em !important;
}

html, body, :global(#root), .sidebarPushable, .sidebarPusher {
  overflow: hidden;
  height: 100%;
}

@sidebarWidth: 180px;

:global(.ui.visible.right.sidebar) ~ .sidebarPusher {
  transform: translate3d(-@sidebarWidth, 0, 0) !important;
}

.sidebarMenu {
  width: @sidebarWidth !important;

  .userMenu {
    margin-top: 10px !important;
  }
}

.appContentContainer {
  margin-top: 49px;
  padding-top: 28px;
  height: calc(100% - 49px);
  overflow-y: overlay;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 135, 139, 0.8);
}

.footer {
  margin: 2em 0em 0em !important;
  padding: 1em 0em !important;
  border: none !important;
  color: #999;
}

.languageSwitchContainer {
  :global(.icon) {
    font-size: 1.3em !important;
    margin-top: 5px;
  }
}
