.search {
  width: 280px;
  height: 28px;
  display: inline-block;

  :global(.ui.input) {
    width: 100%;
  }
}

.showTags {
  margin-right: 20px;
}

.topPagination {
  margin-bottom: -1rem;
}

.row {
  height: 44px;
}

.tags {
  display: inline-block;
}
