.wrapper {
  margin: 20px;
}

.tableWrapper {
  :global(table) {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
  
  :global(th) {
    font-weight: bolder !important;
  }

  :global(tbody) {
    background: white;
  }

  :global(tr:nth-child(even)) {
    background: #fafafa;
  }

  :global(td) {
    padding: 0 !important;
    height: 40px;
    line-height: 40px;

    :global(.ant-tag) {
      border-radius: 0;
      border: none;
      background-color: #f1f1f1;
      padding: 2.5px 9.5px;
      font-size: 12.5px;
    }
  }
}

.rightWrapper {}
